{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html>
<head>
    <title>Money transfer</title>
</head>

<body>
    <h1>Система перевода денежных средств между пользователями</h1>
    <table id="markup">
        <thead>
                <td><b>Форма перевода средств</b></td>
                <td><b>Пользователи, доступные в системе</b></td>
        </thead>
        <tr>
            <td><div id="transfer_form"></div></td>
            <td><div id="container"></div></td>
        </tr>
    </table>
    {% render_bundle 'main' %}
</body>

 <style>
        <style type="text/css">
            table {
	            font-size:16px;
	            border-color: #999999;
	            border-collapse: collapse;
            }

            table th {
	            background-color:#c3dde0;
	            padding: 8px;
            }

            table tr {
            }

            table td {
	            border: none;
	            padding: 3px;
            }

            #container {
                text-align: right;
                display: inline-block;
            }

            #transfer_form {
                display: inline-block;
            }

            h1 {
                text-align: center;
                margin-bottom: 30px;
            }

            input, option, select {
                width:300px;
                margin: 10px;
            }

            input[type="submit"] {
                margin-left:0;
            }

            table#markup {
                margin-left: 20px;
                border-right-width: 60px;
                width: 85%;
                margin-left:10%;
            }
            table#markup thead td {
                text-align: justify;
                font-size: 18px;
            }

    </style>
</html>